{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%  block page_content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    <p class="page-header text-left">
                        /go/all
                    </p>
                </h3>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>/go</th>
            <th>url</th>
            <th>edit</th>
        </tr>
        </thead>

        {% for information in link_details %}
        <tbody>
        <tr>
            <th scope="row">{{ information[0] }}</th>
            <td>{{ information[1] }}</td>
            <td>{{ information[2] }}</td>
            <td><a href="/edit/{{information [0]}}">modify</a></td>
        </tr>
        </tbody>

        {% endfor %}

    </table>

{% endblock %}
